.input-stepper{
	@extend .row;
	position: relative;
	.input{
		padding-left: 40px;
		z-index: 1;
	}
}

.input-stepper-decrease,
.input-stepper-increase{
	z-index: 2;
	position: absolute;
	height: 50%;
	width: 30px;
	cursor: pointer;
}

.input-stepper-decrease{
	bottom: 0;
	left: 0;
}
.input-stepper-increase{
	top: 0;
	left: 0;
}