input.parsley-success,
select.parsley-success,
textarea.parsley-success {
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    border: 1px solid #fc636b;
}

.parsley-errors-list {
    float: left;
    display: block;
    width: 100%;
    
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
}


.parsley-errors-list li{
    line-height: 20px;
    padding: 4px 8px;
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
    color: #fc636b;
    border-radius: 2px;
    background-color: #ffe5e8;
    background-repeat: no-repeat;
}
.parsley-errors-list.filled {
    opacity: 1;
}
