/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


// ----------------------------------------------------------------------------------------------------------------
// CUSTOM ARROWS --------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------
.slick-arrow{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 100%;
    z-index: 1;
    transform: translate(0, -50%);

    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    &.slick-disabled{
        cursor: default;
        opacity: 0.2;
    }

    &.slick-prev{
        right: 100%;
    }
    &.slick-next{
        left: 100%;
    }
    svg{
        width: 100%;
        &.top, &.bottom{
            display: none;
        }
    }
}


// ----------------------------------------------------------------------------------------------------------------
// CUSTOM DOTS ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------
.slick-dots{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    text-align: center;
    font-size: 0;
    li{
        display: inline-block;
    }
}