// Home
// =========================================================================

//recaptcha

.grecaptcha-badge{
	z-index: 999;
	visibility: collapse !important; 
}


// INICIO BANNER


.banner{
	margin-top: 78px;

	.bt-seja-franqueado{
		display: none;
	}

	.itens{


		.item{
			float: left;
			width: 100%;
			// height: 100vh;
			// background: url('../images/img/banner2.jpg') no-repeat top center;
			// background-size: cover;
			// background-position: bottom center;
			// background-repeat: no-repeat;
			overflow: hidden;
			position: relative;

			img{
				&.img-desktop{
					width: 100%;
				}

				&.img-mobile{
					display: none;
				}
			}

			.texto{
				position: absolute;
				top: 50%;
				left: 5%;
				transform: translateY(-50%);
				font-size: 34px;
				line-height: 44px;
				color: #fff;
				font-family: 'BwMitga-Bold';
				text-transform: uppercase;

				// b{
				// 	font-family: 'CanelaTextMediumItalic';
				// 	font-weight: normal;
				// }
			}



		}

		.owl-controls{
			position: relative;
			bottom: 18vh;

			.owl-page{

				span{
					opacity: 1;
					width: 10px;
					height: 10px;
					background: #D9D9D6;
					border: 2px solid #D9D9D6;
				}

				&.active{
					span{
						background: #fff;
						border: 2px solid #B90032;
					}
				}

			} 

		}
	}

}


// FIM BANNER


// SOBRE CARRANO E HENRICH

.sobre{
	float: left;
	width: 100%;
	padding: 100px 0px;

	.content{
		display: flex;	
		flex-flow: row wrap;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: space-between;
		width: 90%;
		max-width: 1728px;
		
		.left{
			width: 47%;

			h2{
				font-size: 24px;
				font-family: 'BwMitga-Regular';
				text-transform: uppercase;
				margin-bottom: 40px;
			}

			.texto{
				font-size: 18px;
				line-height: 30px;
				font-family: 'BwMitga-Light';
			}
		}


		.right{
			width: 48%;
			display: flex;
			flex-flow: column wrap;	
			align-content: flex-start;
			align-items: flex-start;

			.img-fabrica{
				width: 100%;
				margin-bottom: 80px;
			}


			.marcas{
				display: flex;	
				flex-flow: row wrap;
				justify-content: flex-start;
				align-content: flex-end;
				align-items: flex-end;

				img{
					margin-right: 45px;
				}
			}

		}

	}
}

// FIM SOBRE CARRANO E HENRICH

// INICIO DIFERENCIAIS

.diferenciais{
	float: left;
	width: 100%;
	padding: 100px 0px 50px;
	background: #F6F6F5;

	.content{
		display: flex;	
		flex-flow: row wrap;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: space-between;
		width: 90%;
		max-width: 1728px;

		.item{
			width: 48%;
			display: flex;
			flex-flow: column wrap;	
			align-content: center;
			align-items: center;
			justify-content: flex-start;

			img{
				width: 100%;
				margin-bottom: 30px;
			}

			.title{
				font-size: 24px;
				font-family: 'BwMitga-Regular';
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			.desc{
				width: 64%;
				height: 90px;
				font-size: 18px;
				line-height: 30px;
				font-family: 'BwMitga-Light';
				text-align: center;
				margin-bottom: 50px;
			}



		}
	}
}	

// FIM DIFERENCIAIS

// INICIO COMUNICACAO

.comunicacao{
	float: left;
	width: 100%;
	padding: 100px 0px;
	background: #fff;
	display: flex;
	flex-flow: column wrap;	
	align-content: center;
	align-items: center;
	justify-content: flex-start;

	.content{
		display: flex;	
		flex-flow: row wrap;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: space-between;
		width: 90%;
		max-width: 1728px;

		&.icones{
			border-bottom: 1px solid #D9D9D6;

			.box{
				width: 23%;
				margin-right: 2.5%;

				&:nth-child(4),
				&:nth-child(8){
					margin-right: 0px;
				}

				.bx-img{
					width: 100%;
					height: 120px;
					display: flex;	
					flex-flow: row wrap;
					justify-content: center;
					align-content: flex-end;
					align-items: flex-end;
					margin-bottom: 40px;

					img{
						max-height: 120px;
					}

				}

				.desc{
					height: 90px;
					font-size: 18px;
					line-height: 30px;
					font-family: 'BwMitga-Light';
					text-align: center;
					margin-bottom: 50px;
					text-transform: uppercase;
				}
			}

		}


		&.depoimentos{
			padding-top: 100px;

			.top{
				width: 100%;
				display: flex;	
				flex-flow: row wrap;
				justify-content: space-between;
				align-content: flex-start;
				align-items: flex-start;
				margin-bottom: 26px;

				h2{
					font-size: 24px;
					font-family: 'BwMitga-Regular';
					text-transform: uppercase;
				}

				.desc{
					width: 65%;
					font-size: 28px;
					line-height: 40px;
					font-family: 'BwMitga-Regular';
					text-align: justify;

				}
			}

			.bx-depoimentos{
				width: 100%;
				display: flex;	
				flex-flow: row wrap;
				align-content: space-between;
				align-items: center;

				.box{
					width: 32%;
					margin-right: 2%;
					background: url('../images/img/aspas.png') no-repeat top left;
					padding-left: 2.5%;
					padding-top: 78px;

					&:last-child{
						margin-right: 0px;
					}


					.texto{
						width: 100%;
						height: 210px;
						font-size: 18px;
						line-height: 30px;
						font-family: 'BwMitga-Light';
						margin-bottom: 28px;
					}

					.nome{
						width: 100%;
						font-size: 20px;
						font-family: 'BwMitga-Regular';
					}

					.infos{
						color: #5B5B5B;
						font-size: 16px;
						font-family: 'BwMitga-Regular';
					}
				}
			}


		}

		


	}

}

// FIM COMUNICACAO



// INICIO BLOCOS

.blocos{
	width: 100%;
	background: #F6F6F5;
	display: flex;
	flex-flow: column wrap;	
	align-content: center;
	align-items: center;
	justify-content: flex-start;

	.line{
		width: 100%;
		display: flex;	
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;

		.img-principal{
			width: 50%;
			order: 1;
		}

		.conteudo{
			width: 50%;
			order: 2;
			padding-left: 9vw;
			display: flex;
			flex-flow: column wrap;	
			align-content: flex-start;
			align-items: flex-start;
			justify-content: center;

			h4{
				color: #B90032;
				font-size: 24px;
				font-family: 'BwMitga-Regular';
				text-transform: uppercase;
				margin-bottom: 19px;
				width: 52%;
			}

			.texto{
				width: 52%;
				font-size: 18px;
				line-height: 30px;
				font-family: 'BwMitga-Light';
			}

			.botoes{
				width: 100%;
				margin-top: 35px;
				display: flex;	
				flex-flow: row wrap;
				justify-content: flex-start;
				align-content: center;
				align-items: center;

				a{
					margin-right: 10px;

					img{
						display: block;
					}
				}
			}
		}

		&:nth-child(even){
			
			.img-principal{
				order: 2;
			}

			.conteudo{
				order: 1;

				padding-left: 5vw;
			}
		}
	}

}


// FIM BLOCOS


// INICIO EVENTOS

.eventos{
	float: left;
	width: 100%;
	padding: 100px 0px;
	background: #fff;
	display: flex;
	flex-flow: column wrap;	
	align-content: center;
	align-items: center;
	justify-content: flex-start;

	.content{
		display: flex;	
		flex-flow: row wrap;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: space-between;
		width: 90%;
		max-width: 1728px;

		&.bx-eventos{
			border-bottom: 1px solid #D9D9D6;
			padding-bottom: 55px;

			h2{
				width: 100%;
				font-size: 20px;
				font-family: 'BwMitga-Regular';
				text-transform: uppercase;
				margin-bottom: 50px;
			}

			.list-eventos{
				width: 100%;
				display: flex;	
				flex-flow: row wrap;
				align-content: flex-start;
				align-items: flex-start;
				justify-content: flex-start;

				.box{
					width: 30%;
					margin-right: 5%;
					display: flex;
					flex-flow: column wrap;	
					align-content: flex-start;
					align-items: flex-start;
					justify-content: flex-start;
					margin-bottom: 45px;

					&:nth-child(3),
					&:nth-child(6){
						margin-right: 0px;
					}	

					img{
						width: 100%;
						display: block;
						margin-bottom: 28px;
					}

					.data{
						width: 100%;
						font-size: 20px;
						font-family: 'BwMitga-Regular';
					}

					.local{
						width: 100%;
						font-size: 20px;
						font-family: 'BwMitga-Regular';
					}
				}

			}

		}


		&.contato{
			padding-top: 100px;
			display: flex;	
			flex-flow: row wrap;
			justify-content: space-between;
			align-content: flex-start;
			align-items: flex-start;

			.left{
				width: 26%;

				h2{
					font-size: 24px;
					font-family: 'BwMitga-Regular';
					text-transform: uppercase;
					margin-bottom: 28px;
				}

				.texto{
					width: 68%;
					font-size: 18px;
					line-height: 30px;
					font-family: 'BwMitga-Light';
				}
			}


			.right{
				width: 65%;
				display: flex;	
				flex-flow: row wrap;
				justify-content: space-between;
				align-content: flex-start;
				align-items: flex-start;

				.half{
					width: 47%;
					margin-bottom: 30px;

					label{
						width: 100%;
						font-size: 14px;
						font-family: 'BwMitga-Regular';
						line-height: 30px;

						i{
							color: #B90032;
							font-style: normal;
						}
					}

					input{
						width: 100%;
						background: #F6F6F5;
						border: 1px solid #D9D9D6;
						height: 50px;
						font-size: 16px;
						font-family: 'BwMitga-Regular';
						padding-left: 20px;
					}

					select{
						width: 100%;
						background: #F6F6F5;
						border: 1px solid #D9D9D6;
						height: 50px;
						font-size: 16px;
						font-family: 'BwMitga-Regular';
						padding-left: 20px;
					}

					button{
						background: #B90032;
						border: none;
						color: #fff;
						font-size: 16px;
						font-family: 'BwMitga-Regular';
						height: 50px;
						width: 100%;
						cursor: pointer;
					}

					&.disabled{
						label{
							color: #E5E5E5;

							i{
								color: #E5E5E5;
							}
						}

						select{
							border-color: #EBEBEA;
							background: #FAFAFA;
						}
					}

					&.check{
						display: flex;	
						flex-flow: row wrap;
						justify-content: space-between;
						align-content: center;
						align-items: center;

						.left{
							width: 39%;

							.inputs{
								height: 50px;
								display: flex;	
								flex-flow: row wrap;
								justify-content: space-between;
								align-content: center;
								align-items: center;
								position: relative;

								input[type="radio"]{
									margin: 0px;
								}

								.container-checkbox label{
									margin: 0px;
									font-size: 16px;
								}

								.parsley-errors-list{
									position: absolute;
									bottom: -37px;
									left: 0px;
								}
							}
						}


						.right{
							width: 54%;

							&.disabled{
								label{
									color: #E5E5E5;

									i{
										color: #E5E5E5;
									}
								}

								input{
									border-color: #EBEBEA;
									background: #FAFAFA;
								}
							}

						}

					}



				}

				.full{
					width: 100%;
					margin-bottom: 30px;

					label{
						width: 100%;
						font-size: 14px;
						font-family: 'BwMitga-Regular';
						line-height: 30px;
					}

					textarea{
						width: 100%;
						background: #F6F6F5;
						border: 1px solid #D9D9D6;
						height: 130px;
						resize: none;
						font-size: 16px;
						font-family: 'BwMitga-Regular';
						padding-left: 20px;
						padding-top: 10px;
					}
				}
			}



		}


	}
}

// FIM EVENTOS 







// RESOLUCOES DE até 768

@media screen and (max-width: 768px) {



	//BANNER
	.banner{
		height: calc(100vh - 48px)!important;
		width: 100%;
		margin-top: 48px;
		overflow: hidden;
		position: relative;

		

		

		.itens{
			.item{

				img{

					&.img-desktop{
						display: none;
					}


					&.img-mobile{
						width: 100%;
						display: block;
					}

				}

				.texto{
					top: 38vw;
					left: 4vw;
					width: 92vw;
					text-align: center;
					font-size: 22px;
					line-height: 32px;
				}

				a{
					width: 240px;
					height: 50px;
					bottom: 25.73vw;
					left: 50%;
					margin-left: -120px;
					padding: 0px;
					border-radius: 10px;
					font-size: 18px;
					line-height: 50px;
					vertical-align: middle;
					text-align: center;
					
				}

			}
		}


		.bt-seja-franqueado{
			position: fixed;
			width: 100%;
			height: 50px;
			font-size: 16px;
			color: #fff;
			background: #B90032;
			text-transform: uppercase;
			font-family: 'BwMitga-Regular';
			text-align: center;
			vertical-align: middle;
			line-height: 50px;
			bottom: 0px;
			left: 0px;
			z-index: 99;
			display: block;
		}


	}
	//BANNER


	// SOBRE CARRANO

	.sobre{
		padding-top: 30px;
		padding-bottom: 0px;

		.content{
			display: flex;
			flex-flow: column wrap;	
			align-content: center;
			align-items: center;
			justify-content: flex-start;
			width: 100%!important;


			.left{
				width: 90%;
				margin: 0px 5% 70px;

				h2{
					font-size: 20px;
					margin-bottom: 29px;
				}
			}

			.right{
				width: 100%;
				position: relative;

				img{


					&.img-fabrica{
						order: 2;
						margin-bottom: 30px;
					}
					
				}

				&:after{
					content: '';
					width: 90%;
					height: 1px;
					background: #E0E0E0;
					margin: 0px 5%;
					position: absolute;
					left: 0px;
					bottom: 0px;
				}

				.marcas{
					width: 90%;
					order: 1;
					display: flex;	
					flex-flow: row wrap;
					justify-content: space-between;
					align-content: flex-end;
					align-items: flex-end;
					margin: 0px 5% 30px;

					img{
						margin-right: 0px;
					}
				}
			}

		}
	}

	// SOBRE CARRANO


	// DIFERENCIAIS

	.diferenciais{
		padding-top: 30px!important;

		.content{
			width: 100%!important;
			display: flex;
			flex-flow: column wrap;	
			align-content: center;
			align-items: center;
			justify-content: flex-start;

			.item{
				width: 100%;

				.desc{
					width: 90%;
					height: auto;
				}
			}

		}

	}


	// DIFERENCIAIS


	//COMUNICACAO

	.comunicacao{
		padding: 50px 0px;

		.content{

			&.icones{
				width: 90%!important;

				.box{
					width: 47%;
					margin-right: 0px;

					&:nth-child(odd){
						margin-right: 6%;
					}

					.desc{
						font-size: 14px;
						line-height: 24px;
						height: 72px;
					}
				}
			}

			&.depoimentos{
				width: 90%!important;
				padding-top: 50px;

				.top{
					width: 100%;
					display: flex;
					flex-flow: column wrap;	
					align-content: flex-start;
					align-items: flex-start;
					justify-content: flex-start;

					h2{
						font-size: 20px;
						margin-bottom: 30px;
					}

					.desc{
						width: 100%;
						font-size: 22px;
						line-height: 32px;
						text-align: left;
					}


				}

				.bx-depoimentos{

					.box{
						width: 100%;
					}

					.owl-controls{
						margin-top: 50px;

						.owl-page{

							span{
								width: 8px;
								height: 8px;
								background: #D9D9D6;
								border: 2px solid #D9D9D6;
							}

							&.active{
								span{
									background: #fff;
									border: 2px solid #B90032;
								}
							}
						}

					}
				}
			}

		}

	}

	//COMUNICACAO


	//BLOCOS

	.blocos{
		.line{
			
			.img-principal{
				width: 100%;
			}

			.conteudo{
				display: flex;
				flex-flow: column wrap;	
				align-content: center;
				align-items: center;
				justify-content: center;
				min-height: 206px;
				width: 100%;
				padding-left: 0px;
				padding-top: 28px;

				h4{
					width: 100%;
					text-align: center;
				}

				.texto{
					width: 90%!important;
					text-align: center;
				}

				.botoes{
					display: flex;
					flex-flow: column wrap;	
					align-content: center;
					align-items: center;
					justify-content: center;
					margin-bottom: 30px;

					a{
						margin-bottom: 20px;

						img{
							width: 150px;
						}
					}

				} 
			}

			&:nth-child(even){

				.img-principal{
					order: 1;
				}

				.conteudo{
					padding-left: 0px!important;
					order: 2;
				}

			}
		} 
	} 




	//BLOCOS


	// EVENTOS

	.eventos{
		padding-top: 50px;
		padding-bottom: 50px;

		.content{
			width: 90%!important;

			&.bx-eventos{

				.list-eventos{

					.box{
						width: 96%;
						margin-left: 0%;
						margin-right: 0%;

						.data{
							font-size: 14px;
						}

						.local{
							font-size: 14px;
						}
					}


					.owl-controls{
						margin-top: 20px;

						.owl-page{

							span{
								width: 8px;
								height: 8px;
								background: #D9D9D6;
								border: 2px solid #D9D9D6;
								margin: 5px 5px;
							}

							&.active{
								span{
									background: #fff;
									border: 2px solid #B90032;
								}
							}
						}

					}

				}

			}

			&.contato{
				padding-top: 50px;

				.left{
					width: 100%;
					margin-bottom: 30px;

				}

				.right{
					width: 100%;

					.half{
						width: 100%!important;

						&.check{

							.left{
								margin-bottom: 0px;
							}

						} 
					}
				}

			}


		}

	} 


	//EVENTOS
}