// ------------------------------------------------
// COLUMNS ----------------------------------------
// ------------------------------------------------
.col{
    display: block;
    box-sizing: border-box;

    &:not(.right){
        float: left;
    }
    &.right{
        float: right;
    }

    &.center-container{
        text-align: center;
    }
    &.center-content{
        float: none;
        display: inline-block;
    }

    &:not(.no-padded){
        padding: 10px;
    }
}

// ------------------------------------------------
// FLEX -------------------------------------------
// ------------------------------------------------
.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    
    &.__wrap{
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    // VERTICAL ALIGN -----------------------------
    &.__v-top{
        align-items: flex-start;
    }
    &.__v-center{
        align-items: center;
    }

    // HORIZONTAL ALIGN ---------------------------
    &.__h-left{
        justify-content: flex-start;
    }
    &.__h-center{
        justify-content: center;
    }
    &.__h-right{
        justify-content: flex-end;
    }
    &.__h-between{
        justify-content: space-between;
    }
    &.__h-around{
        justify-content: space-around;
    }

    // HORIZONTAL ALIGN ---------------------------
    @media screen and (max-width: $bkMid - 1) {
        &.__small__h-center{
            justify-content: center;
        }
    }
}

.col,
.flex{
    @for $s from 1 through 12 {
        &.small-#{$s}{
            width: #{100% / 12 * $s};
        }
        &.all-#{$s}{
            width: #{100% / 12 * $s};
        }
    }
    @media screen and (min-width: $bkMid) {
        @for $m from 1 through 12 {
            &.mid-#{$m}{
                width: #{100% / 12 * $m};
            }
        }
    }

    @media screen and (min-width: $bkLarge) {
        @for $l from 1 through 12 {
            &.large-#{$l}{
                width: #{100% / 12 * $l};
            }
        }
    }
}