/**********************
		FOOTER
		**********************/
		.footer{
			float: left;
			width: 100%;
			height: 208px;
			background: #F6F6F5;


			.content{
				width: 90%;
				max-width: 1728px;

				.top{
					float: left;
					width: 100%;
					height: 113px;
					display: flex;	
					flex-flow: row wrap;
					justify-content: space-between;
					align-content: center;
					align-items: center;

					.logo-rodape{
						width: 232px;
						height: 30px;

						img{
							width: 100%;
						}
					}

					.menu{
						width: calc(100% - 274px);
						display: flex;	
						flex-flow: row wrap;
						justify-content: flex-end;
						align-items: center;
						align-content: center;


						li{
							margin-right: 4.4%;

							&:last-child{
								margin-right: 0px;
							}

							a{
								color: #000;
								font-size: 16px;
								font-family: 'BwMitga-Regular';
								text-decoration: none;
								position: relative;
								cursor: pointer;
								text-transform: uppercase;
								&.sel{
									color: #B90032;
								}

								&:hover{
									color: #B90032;
								}
							}
						}
					}
				}


				.bottom{
					float: left;
					width: 100%;
					height: 94px;
					border-top: 1px solid #D9D9D6;
					display: flex;	
					flex-flow: row wrap;
					justify-content: space-between;
					align-content: center;
					align-items: center;

					.redes-sociais{
						display: flex;	
						flex-flow: row wrap;
						justify-content: flex-start;
						align-content: center;
						align-items: center;

						a{
							height: 30px;
							display: flex;	
							flex-flow: row wrap;
							justify-content: flex-start;
							align-content: center;
							align-items: center;
							margin-right: 50px;
							text-decoration: none;

							img{
								margin-right: 12px;
							}
							

							span{
								line-height: 30px;
								font-size: 16px;
								font-family: 'BwMitga-Regular';
							}

						}


					}

					.logo-rodape{
						width: 10%;
					}

				}
			}
		}

		

		@media screen and (max-width: 768px) {

			.footer{
				height: 454px;


				.content{

					.top{
						height: 274px;
						flex-flow: column wrap;
						align-content: center;
						align-items: center;
						justify-content: center;
											
						.logo-rodape{
							margin-bottom: 30px;
						}

						.menu{
							width: 100%;
							flex-flow: column wrap;	
							align-content: center;
							align-items: center;
							justify-content: flex-start;
							margin-bottom: 11px;

							li{
								height: 21px;
								margin-bottom: 19px;
								margin-right: 0px;

								a{
									height: 21px;
									line-height: 21px;
									vertical-align: middle;
									font-size: 16px;
									font-family: 'BwMitga-Regular';
								}
							}
						}
						

					}


					.bottom{
						height: 179px;
						display: flex;
						flex-flow: column wrap;	
						align-content: center;
						align-items: center;
						justify-content: flex-start;

						.redes-sociais{
							display: flex;
							flex-flow: row wrap;	
							align-content: center;
							align-items: center;
							justify-content: center;
							width: 100%;
							margin: 30px 0px;
							
							
							a{
								height: 24px;
								display: flex;	
								flex-flow: row wrap;
								justify-content: center;
								align-content: center;
								align-items: center;
								margin-right: 0px;

								&.facebook{
									margin-right: 53px;
								}

								img{
									height: 24px;
									width: 24px;
									margin-right: 12px;

									&.img-facebook{
										width: 11px;
									}

								}

								span{
									height: 24px;
									line-height: 24px;
									font-size: 16px;
									font-family: 'BwMitga-Regular';
									vertical-align: middle;
								}


							}
						}


						.logo-rodape{
							width: 50px;
							height: 15px;
						}

						
					}
				}
			}



		}