// VARIAVEIS -----------------------------------------------------------------
$input:(
	typo: map-get($typo, first),
	submitTypo: map-get($typo, first),

	height: 70px,
	
	textColor: #000,
	textColorFocus: #ccc,

	borderColor: #000,
	borderColorFocus: #ccc,

	placeholderColor: #000,
	placeholderColorFocus: #ccc,


	selectColor: #000,
	selectColorFocus: #ccc,


	submitColor: #fff,
	submitColorFocus: #ccc,
	submitColorHover: #000,
	submitColorActive: #444,

	submitBorder: #000,
	submitBorderFocus: #ccc,
	submitBorderHover: #000,
	submitBorderActive: #1d1d1b,
	
	submitBg: #000,
	submitBgFocus: #1d1d1b,
	submitBgHover: #fff,
	submitBgActive: #d7d7d7,
	);


// INPUT ---------------------------------------------------------------------
.input{
	@extend .row;
	height: map-get($input, height);
	padding: 10px;
	background: transparent;
	border: 1px solid map-get($input, borderColor);

	font: 16px map-get($input, typo);
	color: map-get($input, textColor);
	
	// text-transform: uppercase;

	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;

	border-radius: 0;
	
	&::placeholder{
		color: rgba(map-get($input, placeholderColor), 0.5);
	}
	&:focus{
		border-color: map-get($input, borderColorFocus);
		color: map-get($input, textColorFocus);
		&::placeholder{
			color: rgba(map-get($input, placeholderColorFocus), 0.8);
		}
	}

	&.textarea{
		height: 180px;
	}
}

// SELECT --------------------------------------------------------------------
.select-mask{
	@extend .row;
	position: relative;
	&::after{
		content: '';
		width: 5px;
		height: 5px;
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -2.5px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid map-get($input, #b2b2b2);
	}
}
.select{
	height: map-get($input, height);
	width: 100%;
	padding: 10px;
	font-size: 16px;
	color: map-get($input, selectColor);;
	border: 1px solid map-get($input, selectColor);

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	border-radius: 0;

	&:focus, &:hover{
		border-color: map-get($input, selectColorFocus);
	}
}

// SUBMIT --------------------------------------------------------------------
.submit{
	@extend .row;
	height: map-get($input, height);
	padding: 10px 20px;
	cursor: pointer;

	font: 16px map-get($input, submitTypo);
	text-transform: uppercase;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	border-radius: 0;
	
	background: map-get($input, submitBg);
	border: 1px solid map-get($input, submitBorder);
	color: map-get($input, submitColor);
	
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

	&:focus{
		color: map-get($input, submitColorFocus);
		border-color: map-get($input, submitBorderFocus);
		background: map-get($input, submitBgFocus);
	}
	&:hover{
		color: map-get($input, submitColorHover);
		border-color: map-get($input, submitBorderHover);
		background: map-get($input, submitBgHover);
	}
	&:active{
		color: map-get($input, submitColorActive);
		border-color: map-get($input, submitBorderActive);
		background: map-get($input, submitBgActive);
	}
}


// CHECKBOX / RADIO ----------------------------------------------------------
// ---------------------------------------------------------------------------
.container-checkbox,
.container-radio{
	position: relative;

	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	label {
		position: relative;
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		padding-left: 30px;
		padding-right: 10px;
		line-height: 36px;
		cursor: pointer;
	}
	label::before {
		content: "";
		position: absolute;
		top: 2px;
		left: 0;
		display: block;
		width: 24px;
		height: 24px;
		border: 1px solid #D9D9D6;
		border-radius: 0px;
		z-index: 10;
	}
	// input[type="radio"] + label::before {
	// 	border: 4px solid #fff;
	// }

	/* Checked */
	// input[type="checkbox"]:checked + label::before,
	// input[type="radio"]:checked + label::before {
		
	// }

	input[type="radio"]:checked + label::before,
	input[type="checkbox"]:checked + label::before{
		// content: "✓";
		content: "";
		text-align: center;
		line-height: 20px;
		color: #D9D9D6;
		width: 24px;
		height: 24px;
		box-shadow: 0px 0px 1px 0px #D9D9D6;
		background: #D9D9D6;
		border: 4px solid #fff;
	}

	/* Transition */
	label,
	label::before {
		transition: .25s all ease;
	}
}



.input-range{
	width: 100%;
	margin-top: 3.48vw;
	cursor: pointer;
}

input[type=range] {
	-webkit-appearance: none; /* remove estilo padrão do browser */
}

/* estiliza o marcador móvel */

/* Chrome/Safari/Opera */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none; /* remove estilo padrão do browser */
	background: url('../images/img/active.png') no-repeat center center;
	background-size: 100% 100%;
	height: 1.5vw;
	width: 1.5vw;
	margin-top: -1.9vw;


}

/* Firefox */
input[type=range]::-moz-range-thumb {
	-webkit-appearance: none; /* remove estilo padrão do browser */
		background: url('../images/img/active.png') no-repeat center center;
	background-size: 100% 100%;
	height: 1.5vw;
	width: 1.5vw;
	margin-top: -1.9vw;
}

/* IE */
input[type=range]::-ms-thumb {
	-webkit-appearance: none; /* remove estilo padrão do browser */
		background: url('../images/img/active.png') no-repeat center center;
	background-size: 100% 100%;
	height: 1.5vw;
	width: 1.5vw;
	margin-top: -1.9vw;
}

/* estiliza a a barra do slider */

/* Chrome/Safari/Opera */
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.26vw;
	background: #000;
	border-radius: 5px;
}

/* Firefox */
input[type=range]::-moz-range-track {
	width: 100%;
	height: 0.26vw;
	background: #000;
	border-radius: 5px;
}

/* IE */
input[type=range]::-ms-track {
	width: 100%;
	height: 0.26vw;
	background: #000;
	border-radius: 5px;
}