// HEADER
// =========================================================================

.header{
	float: left;
	width: 100%;
	height: 78px;
	flex-flow: row wrap;
	justify-content: center;
	
	position: fixed;
	top: 0px;
	z-index: 99999;
	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;

	background: #fff;
	border-top: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;

	align-content: flex-end;
	align-items: flex-end;



	&#topo-desktop{
		display: flex;
	}

	&#topo-mobile{
		display: none;
	}

	.content{
		display: flex;	
		flex-flow: row wrap;
		justify-content: space-between;
		
		align-content: center;
		align-items: center;

		width: 90%;
		height: 78px;
		max-width: 1728px;


		.logo{
			width: 232px;
			height: 30px;

			img{
				width: 100%;
				

				&.img-logo{
					display: block;
				}


				&.img-logo-scroll{
					display: none;
				}

			}
		}



		.menu{
			width: calc(100% - 555px);
			display: flex;	
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			align-content: center;


			li{
				margin-right: 4.4%;

				&:last-child{
					margin-right: 0px;
				}

				a{
					color: #000;
					font-size: 16px;
					font-family: 'BwMitga-Regular';
					text-decoration: none;
					position: relative;
					cursor: pointer;
					text-transform: uppercase;

					
						&.sel{
							color: #B90032;
						}

						&:hover{
							color: #B90032;
						}
					}
				}
			}

			.m-right{
				display: flex;	
				flex-flow: row wrap;
				justify-content: center;
				align-content: center;
				align-items: center;
				position: relative;

				.lang-sel{
					margin-left: 35px;
					font-size: 16px;
					color: #B90032;
					font-family: 'BwMitga-Bold';
					padding-right: 20px;
					background: url('../images/img/arrow.png') no-repeat center right;
					cursor: pointer;
					text-transform: uppercase;
				}

				.box-languages{
					position: absolute;
					background: #fff;
					padding: 10px 15px;
					border: 1px solid #E4E4E4;
					border-top: 1px solid #ffff;
					bottom: -101px;
					right: -7px;
					flex-flow: column wrap;	
					align-content: center;
					align-items: center;
					justify-content: center;
					display: none;

					a{
						height: 30px;
						font-size: 16px;
						color: #000;
						font-family: 'BwMitga-Regular';
						cursor: pointer;
						line-height: 30px;
						vertical-align: middle;
						text-transform: uppercase;

						&:hover{
							color: #B90032;
							text-decoration: none;
						}
					}
				}

				.bt-seja-franqueado{
					width: 239px;
					height: 40px;
					border-radius: 7px;
					background: #B90032;
					color: #fff;
					font-size: 16px;
					line-height: 40px;
					font-family: 'BwMitga-Regular';
					text-transform: uppercase;
					text-decoration: none;
					text-align: center;
					cursor: pointer;

			}

		}
		
	}
}


@media screen and (max-width: 1365px) {


	.blocos{

		.line{

			.conteudo{

				.texto{
					width: 80%!important;
				}

			}
		}

	}

	.eventos{

		.content{

			&.contato{
				

				.left{

					h2{
						font-size: 19px!important;
					}

					.texto{
						width: 96%!important;
					}

				} 

				.right{
					width: 70%;

					.half{
						width: 48%!important;

						&.check{

							.left{

								.inputs{

									.container-checkbox{

										label{
											font-size: 14px!important;
										}

									}
								} 
							} 
						}


						
					}


				}
			}

		}

	} 

}


@media screen and (max-width: 1281px) {

	.header{
		
		.content{
			width: 96%;

			.logo{
				width: 165px;
				height: 21px;
			}

			.menu{
				width: calc(100% - 460px);

				li{

					a{
						font-size: 14px;
					}
				} 
			} 

			.m-right{

				.lang-sel {
					margin-right: 20px;
				}

				.bt-seja-franqueado{
					width: 200px;
					height: 40px;
					font-size: 14px;
				}
			}
		}
	}

	.sobre{
		
		.content{
			width: 96%!important;
		}
	}

	.diferenciais{
		
		.content{
			width: 96%!important;
		}
	}


	.comunicacao{

		.content{
			width: 96%!important;

			&.depoimentos{

				.bx-depoimentos{

					.box{

						.texto{
							height: 255px!important;
						}

						.infos{
							font-size: 14px;
						}
					} 

				}

			} 

		} 

	}


	.blocos{

		.line{

			.conteudo{

				.texto{
					width: 92%!important;
					font-size: 16px;
    				line-height: 28px;
				}

				.botoes{
					a{
						img{
							width: 120px;
						}
					}
				}

			}

			&:nth-child(even){

				.conteudo{
					padding-left: 2vw;
				}
			} 
		}

	} 


	.eventos{

		.content{

			&.bx-eventos{
				width: 96%;
			}

			&.contato{
				width: 96%;

				.left{

					h2{
						font-size: 19px!important;
					}

					.texto{
						width: 96%!important;
					}

				} 

				.right{
					width: 70%;

					.half{
						width: 48%!important;

						&.check{

							.left{
								width: 46%!important;

								.inputs{

									.container-checkbox{

										label{
											font-size: 14px!important;
										}

									}
								} 
							} 
						}


						input, select{
							padding-left: 10px!important;
							font-size: 14px!important;
						}
					}


				}
			}

		}

	} 

}



// MOBILE MOBILE MOBILE MOBILE

@media screen and (max-width: 768px) {


	.header{

		&#topo-desktop{
			display: none;
		}

		&#topo-mobile{
			display: flex;
			height: 48px;
			background: #fff;
			align-items: center;
			align-content: center;

			.box-menu{
				display: block;
				width: 100%;
				padding: 0px 5%;
				height: calc(100vh - 48px);
				z-index: 98;
				top: -100vh;
				left: 0px;
				position: fixed;
				background: #fff;

				display: flex;
				flex-flow: column wrap;	
				align-content: center;
				align-items: center;
				justify-content: flex-start;

				


				.menu{
					display: flex;
					flex-flow: column wrap;	
					align-content: center;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
					margin-top: 48px;
					margin-bottom: 21px;

					li{
						height: 32px;
						margin-left: 0px;
						margin-bottom: 27px;

						a{
							float: left;
							width: 100%;
							color: #000;
							height: 30px;
							font-size: 20px;
							font-family: 'BwMitga-Regular';
							text-decoration: none;
							position: relative;
							cursor: pointer;
							line-height: 32px;
							vertical-align: middle;
							text-transform: uppercase;
						}
					}




				}

				.redes-sociais{
					display: flex;
					flex-flow: column wrap;	
					align-content: center;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
					
					
					a{
						height: 24px;
						display: flex;	
						flex-flow: row wrap;
						justify-content: center;
						align-content: center;
						align-items: center;
						margin-bottom: 30px;

						img{
							height: 24px;
							width: 24px;
							margin-right: 12px;

							&.img-facebook{
								width: 11px;
							}

						}

						span{
							height: 24px;
							line-height: 24px;
							font-size: 16px;
							font-family: 'BwMitga-Regular';
							vertical-align: middle;
						}


					}
				}

				.box-languages{
					display: flex;	
					flex-flow: row wrap;
					justify-content: center;
					align-content: center;
					align-items: center;
					margin-top: 20px;

					a{
						font-size: 18px;
						font-family: 'BwMitga-Regular';
						color: #000;
						margin: 0px 15px;
						&.sel{
							font-family: 'BwMitga-Bold';
							color: #B90032;
						}
					}

				}


				.bt-seja-franqueado{
					position: absolute;
					width: 100%;
					height: 50px;
					font-size: 16px;
					color: #fff;
					background: #B90032;
					text-transform: uppercase;
					font-family: 'BwMitga-Regular';
					text-align: center;
					vertical-align: middle;
					line-height: 50px;
					bottom: 0px;
					left: 0px;
				}



			}

			.content{
				align-items: center;
				align-content: center;
				width: 90%;
				height: 46px;
				z-index: 99999;
				position: relative;
				background: #fff;

				.logo{
					width: 140px;
					height: 18px;
				}


				.bt-menu{
					width: 22px;
					height: 16px;
					cursor: pointer;

					img{
						width: 100%;
						display: block;

						&.img-open{
							display: block;
						}

						&.img-open-scroll{
							display: none;
						}

						&.img-close{
							display: none;
						}


					}

					&.opened{
						width: 17px;
						height: 17px;
						cursor: pointer;

						.img-open{
							display: none;
						}

						.img-close{
							display: block;
						}

					}

				}

			}
		}


		// &.scrolling{
		// 	height: 21.33vw;
		// 	border-bottom: 1px solid #ddd;

		// 	&#topo-mobile{
		// 		background: #fff;

		// 		.content{

		// 			.bt-menu{

		// 				.img-open{
		// 					display: none;
		// 				}

		// 				.img-open-scroll{
		// 					display: block;
		// 				}


		// 			}
		// 		}
		// 	}
		// }

	}




}
