// Patterns
// =========================================================================
html, body{
	display: block;
	width: 100%;
}

body{
  	min-height: 100%;
	@include font(1, 1, 1em);
}

.header{
	position: relative;
	z-index: 3;
}

.main{
	display: block;
	width: 100%;

	position: relative;
	z-index: 1;
}

.footer{	
	position: relative;
	z-index: 1;
}

.row{
	display: block;
	width: 100%;
}

.content{
	display: block;
	width: 96%;
	max-width: 1600px;
	margin: 0 auto;
}

.inner{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.table {
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.center-container{
	text-align: center;
}
.center-content{
	display: inline-block;
}





// ----------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------
// ---**-------------------------------------**--*************************-----------------**--------------********************------------
// ----**-----------------------------------**---*************************----------------****-------------********************------------
// -----**---------------------------------**---------------**---------------------------**--**------------**------------------------------
// ------**-------------------------------**----------------**--------------------------**----**-----------**------------------------------
// -------**-----------------------------**-----------------**-------------------------**------**----------**------------------------------
// --------**---------------------------**------------------**------------------------**--------**---------**------------------------------
// ---------**-----------***-----------**-------------------**-----------------------**----------**--------**----------********------------
// ----------**---------**-**---------**--------------------**----------------------****************-------**----------********------------
// -----------**-------**---**-------**---------------------**---------------------******************------**----------------**------------
// ------------**-----**-----**-----**----------------------**--------------------**----------------**-----**----------------**------------
// -------------**---**-------**---**-----------------------**-------------------**------------------**----**----------------**------------
// --------------**-**---------**-**------------------------**-----------****---**--------------------**---********************------------
// ---------------***-----------***-------------------------**-----------****--**----------------------**--********************------------
// ----------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------
.logo-wt{
	display: inline-block;
	width: 50px;
	height: 15px;
	&:hover{
		text-decoration: none;
		svg{
			path {
				fill: map-get($color, logoWtHover);
			}
			.w{ animation: 1s wtag_w none 1; }
			.t{ animation: 1s wtag_t none 1; }
			.a{ animation: 1s wtag_a none 1; }
			.g{ animation: 1s wtag_g none 1; }
		}
	}
}
.wt-ag{
	float: left;
	display: block;
	width: 100%;
	height: 100%;
	path {
		fill: map-get($color, logoWt);
		transition: fill 300ms $bezier;
	}
	
	.ponto{
		animation: 4s wtag_ponto none infinite;
	}
	@keyframes wtag_ponto{
		0% { opacity: 1; }
		17% { opacity: 1; }
		18% { opacity: 0; }
		25% { opacity: 0; }
		26% { opacity: 1; }
		77% { opacity: 1; }
		78% { opacity: 0; }
		85% { opacity: 0; }
		86% { opacity: 1; }
		100% { opacity: 1; }
	}
	@keyframes wtag_w{
		0% { opacity: 1; }
		25% { opacity: 1; }
		26% { opacity: 0; }
		35% { opacity: 0; }
		36% { opacity: 1; }
		100% { opacity: 1; }
	}
	@keyframes wtag_t{
		0% { opacity: 1; }
		4% { opacity: 1; }
		5% { opacity: 0; }
		45% { opacity: 0; }
		46% { opacity: 1; }
		100% { opacity: 1; }
	}
	@keyframes wtag_a{
		0% { opacity: 1; }
		24% { opacity: 1; }
		25% { opacity: 0; }
		40% { opacity: 0; }
		47% { opacity: 1; }
		100% { opacity: 1; }
	}
	@keyframes wtag_g{
		0% { opacity: 1; }
		10% { opacity: 1; }
		11% { opacity: 0; }
		23% { opacity: 0; }
		24% { opacity: 1; }
		100% { opacity: 1; }
	}
}