@mixin button($pd, $bd, $bg, $fs) {
	padding: $pd;
	border: $bd;
	outline: none;
	background: $bg;
	font-size: $fs;
	cursor: pointer;
}

@mixin ratio($pd-top) {
	&:before{
		content: '';
		display: block;
		padding-top: $pd-top;
	}
}

@mixin font($f, $c, $size) {
	font: $size map-get($typo, $f);
	color: map-get($color, $c);
}

// SCROLLBAR ----------------------------------
@mixin scroll-bar($color, $lg) {
   	-webkit-overflow-scrolling: touch;
	   -moz-overflow-scrolling: touch;
	    -ms-overflow-scrolling: touch;
	     -o-overflow-scrolling: touch;
   			overflow-scrolling: touch;

    &::-webkit-scrollbar {
	    -webkit-appearance: none;
	}

	&::-webkit-scrollbar:vertical {
	    width: $lg;
	}

	&::-webkit-scrollbar:horizontal {
	    height: $lg;
	}

	&::-webkit-scrollbar-thumb {
	    background-color: $color;
	    border-radius: 0px;
	}

	&::-webkit-scrollbar-track {
	    border-radius: 0px;
	}
}