%button{
	display: inline-block;

	margin: 10px;
	padding: 10px 20px;
	
	appearance: none;
	background: #ebebeb;
	border: 1px solid #898989;
	border-radius: 0;

	color: #898989;
	text-align: center;

	transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);	
	&:hover{
		text-decoration: none;
		background: #fff;
	}
}

%textfield{
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #999;
	appearance: none;
	border-radius: 0;
	background: #fff;
	line-height: normal;
}

%bgcover{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}