/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle; font: inherit;}
textarea{font: inherit;}
ol, ul, dt, dl {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
fieldset,img {
	border: none;
}
a, a:link a:active a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal;
}
input, textarea, select, button{
	outline:none; /*tira a borda dourada do chrome*/
}
textarea{
	resize:none; /*não deixa redimensionar o textarea no chrome*/
}
a img {
	border: 0px;
	margin: 0px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	color: inherit;
}
/* Tools */
html{
	box-sizing: border-box;
}
*, *:after,*:before{
	box-sizing: inherit;
}
html, body{
	height: 100%;
	width: 100%;
	float: left;
}
img, video, embed, iframe, code{
	max-width: 100%
}
hr{
	width: 100%;
	display: block;
	float: left;
	border: none;
	background: transparent;
	height: 1;
	border: 0;
	background: #ccc;
}
* html>body .clearfix {
	display: inline-block;
	width: 100%;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}