// =========================================================================
// Include dos arquivos de variaveis
// =========================================================================
@import "settings/settings";

// =========================================================================
// Include dos arquivos padrões no site
// =========================================================================
@import "includes/reset";
@import "includes/flex";
@import "includes/placeholders";
@import "includes/mixins";
@import "includes/helpers";
@import "includes/forms";
@import "includes/header";
@import "includes/footer";

// =========================================================================
// Include dos styles de plaugins
// =========================================================================
@import "plugins/parsley";
@import "plugins/input_stepper";
@import "plugins/owl.theme";
@import "plugins/owl.carousel";
@import "plugins/owl.transitions";
@import "plugins/rangeslider";
// @import "plugins/slick";

// =========================================================================
// Include de cada módulo
// =========================================================================
@import "modules/home";




// =========================================================================
// Aqui, apenas o que for global
// =========================================================================


// apagar ----------------

// resseta propriedades da tag button "button-reset(background-color, fons-size)"
// @include button-reset( #ebebeb, 14px );

.content{
	max-width: 1720px;
	width: 90%;
}

.home{
	padding: 20px;
	min-height: 100vh;
	background: map-get($color, homeBg);
}

.link{
	float: left;

	padding: 20px;
	margin: 5px;
	color: #c3c3c3;
	background: #fbfbfb;
	border: 1px solid #898989;
	text-transform: uppercase;
	&:hover{
		text-decoration: none;
	}
}


// // RESOLUCOES DE 1024 até 1600

// @media screen and (max-width: 1600px) {

	
// 	.text{

// 		h1{
// 			font-size: 48px;
// 			line-height: 58px;
// 			margin-bottom: 60px;

// 			&:after{
// 				width: 55px;
// 				height: 2px;
// 				bottom: -31px;
// 			}
// 		}

// 		p{
// 			font-size: 15px;
// 			line-height: 26px;
// 		}
// 	}

	

// }

// // RESOLUCOES até 768

// @media screen and (max-width: 768px) {

	
// 	.text{

// 		h1{
// 			font-size: 38px;
// 			line-height: 48px;
// 			margin-bottom: 130px;
// 			margin-top: 90px;

// 			&:after{
// 				width: 80px;
// 				height: 4px;
// 				bottom: -80px;
// 			}
// 		}

// 		p{
// 			font-size: 18px;
// 			line-height: 30px;
// 		}
// 	}

	

// }