// FONTES
// -----------------------------------------------------------------
@font-face {
  font-family: 'BwMitga-Regular';
  src: url('../fonts/BwMitga-Regular.eot');
  src: url('../fonts/BwMitga-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BwMitga-Regular.svg#BwMitga-Regular') format('svg'),
       url('../fonts/BwMitga-Regular.ttf') format('truetype'),
       url('../fonts/BwMitga-Regular.woff') format('woff'),
       url('../fonts/BwMitga-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwMitga-Bold';
  src: url('../fonts/BwMitga-Bold.eot');
  src: url('../fonts/BwMitga-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BwMitga-Bold.svg#BwMitga-Bold') format('svg'),
       url('../fonts/BwMitga-Bold.ttf') format('truetype'),
       url('../fonts/BwMitga-Bold.woff') format('woff'),
       url('../fonts/BwMitga-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwMitga-Light';
  src: url('../fonts/BwMitga-Light.eot');
  src: url('../fonts/BwMitga-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BwMitga-Light.svg#BwMitga-Light') format('svg'),
       url('../fonts/../fonts/BwMitga-Light.ttf') format('truetype'),
       url('../fonts/BwMitga-Light.woff') format('woff'),
       url('../fonts/BwMitga-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



// VARIAVEIS
// -----------------------------------------------------------------
$headerLarge: 80px;
$headerMid: 80px;
$headerSmall: 80px;

$bkLarge: 1024px;
$bkMid: 640px;

$bezier: cubic-bezier(0.645, 0.045, 0.355, 1);


// CORES
// -----------------------------------------------------------------
$color: (
	1: #000,
	2: #fff,
	3: #ccc,

	logoWt: #000,
	logoWtHover: #777,
);

// FONTES
// -----------------------------------------------------------------
$typo: (
	1: 'Source Sans Pro Light',
);