
/**
 * Classes do campo File_Upload
 */

.file_upload {
	float: left;
}

.file_upload .files {
	padding-left: 0 !important;
	float: left;
}

.file_upload .files .context {
	position: relative;
	float: left;
	margin: 2px;
	list-style: none;
}

.file_upload .files .context i.remove {
	cursor: pointer;
	display: none;
	color: #D65C4F;
	position: absolute;
	right: 3px;
	top: 3px;
	opacity: 0.9;
	font-size: 12px;
}
.file_upload .files .context:hover i.remove {
	display: block;
}

.file_upload .files .context .btn {
	cursor: pointer;
	display: none;
	opacity: 0.9;
	float: right;
	margin: 3px 3px 0 0;
}
.file_upload .files .context:hover .btn {
	display: inline-block;
}

.file_upload .files .context .button.remove {
	right: 3px;
	top: 3px;
}

.file_upload .files .context .canvas {
	position: absolute;
	z-index: 0;
	background: #DDD;
	border-radius: 2px;
}

.file_upload .files .context .progress {
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
}

/**
 * Torna os Fields Readonly da listagem iguais texto normal
 */

 .dataTable tr[role="row"] td input[readonly] {
 	color: #333;
 	background-color: transparent;
 	border: 0;
 	cursor: text;
 	padding: 0;
 }

.dataTable tr[role="row"] td .select2-container.select2-container-disabled .select2-choice {
 	color: #333;
 	background-color: transparent;
 	border: 0;
 	cursor: text;
 	padding: 0;
 }
 .dataTable tr[role="row"] td .select2-container .select2-choice > .select2-chosen {
 	font-weight: normal;
 	text-transform: none;
 	font-size: 12px;
 }
 .dataTable tr[role="row"] td .select2-container.select2-container-disabled .select2-choice .select2-arrow {
 	display: none;
 }